[submodule "externals/mini-swe-agent"]
	path = externals/mini-swe-agent
	url = https://github.com/ambientlight/mini-swe-agent.git
	branch = v2.4.2_dev
[submodule "externals/claude-code-trace"]
	path = externals/claude-code-trace
	url = https://github.com/delexw/claude-code-trace.git
